.all-employee-container{
    margin:20px 100px;
}

.employee-add{
    background-color: #d839ff;
    color:white;
    margin: 15px;
    border: #F1B7FF;
    float: right;
}

.employee-add:hover{
    background-color: #F1B7FF;
}

.employee-table .ant-table-thead .ant-table-cell{
    background-color: #d839ff;
    color: white;
}