.letter-loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-letter-container{
    background-color: rgb(248, 237, 218);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
/*
    position: absolute;

*/
.offer-letter{
    background-color: white;    
    border: 1px solid #C5CCD6;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 90vh;
    width: 600px;
}

.letter-body{
    font-size: 18px;
    font-family: var(--Intern);
    padding: 20px;
}

.offer-letter-heading{
    text-align: center;
    font-family: var(--Intern);
    font-size: 22px;
    padding-top: 20px;
}

.letter-name{
    margin-left: 15px;
    font-size: 18px;
}

.offer-req-name{
    font-size: 20px;
    margin: 25px 0 10px;
}

.offer-req-input{
    min-width: 200px;
    margin-bottom: 20px;
}

.letter-reject{
    margin-left: 20px;
}