.table-it{
    margin:25px;
    margin-left: 80px;
}

.it-button{
    margin: 25px 25px;
}

.message-icon{
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    float: right;
}